/* VideoPage new code for container */

.container {
    background: #f0f4f9;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.videoPlayerBox {
    position: relative;
    width: 100%;
    height: 630px;
    margin-bottom: 20px;
}

.videoPlayerContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageContainer {
    text-align: center;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: 630px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-color: black;
}

.textContent {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    width: 100%;
    height: 630px;
    color: #fff;
    object-fit: contain;
    background-color: black;
}

/* new update on progress bar */
.progressBar {
    position: relative;
    width: 100%;
    height: 8px;
    margin-bottom: 20px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.progressBarFill {
    max-width: 100%;
    height: 100%;
    background-color: #FF0000;
    transition: width 0.1s;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:disabled {
    background: #d6d6d6;
    cursor: not-allowed;
}

.controls .duration {
    font-size: 16px;
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.wrapperBtnDuration {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.speakButton {
  margin-top: 10px !important;
  background-color: #4caf50 !important;
  color: white !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 10px 20px !important;
  cursor: pointer;
  font-size: 1rem !important;
  transition: background-color 0.3s !important;
  /* left: 42%; */
}

.speakButton:hover {
  background-color: #45a049 !important;
}

.voiceSelect {
  margin-top: 10px;
  background-color: #fff;
  /* width: 200px; */
}

.textContentText{
    margin-top: 20px;
    padding: 0px 56px;
}