.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
  background: #f0f4f9;
}

label {
  margin-right: 10px;
}

select {
  margin-bottom: 10px;
}

/* .csstop {
  position: relative;
  margin: auto;
  display: flex;
  width: 31%;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 24px;
  background-color: rgba(246, 247, 248, 0.5);
  border: 1px solid rgb(232, 234, 238);
  border-radius: 12px;
  margin-top: 20px;
  overflow: hidden;
} */